# get your xoxd cookie from the Slack web app (cookie named "d" in your browser)
SLACK_COOKIE=xoxd-something-here
# slack is mean and doesnt let user tokens send ephemeral messages
SLACK_XOXP=xoxp-something-here
